<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lien He</title>
    <link rel="stylesheet" href="~/Content/style4.css">
</head>
<body>
    <header>
        <div class="container">
            <a href="#">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/GoFundMe_Logo.svg/1200px-GoFundMe_Logo.svg.png" alt="GoFundMe">
            </a>
            <nav>
                <a href="Test">Trang chủ</a>
                <a href="#">Tạo chiến dịch</a>
                <a href="#">Hỗ trợ</a>
            </nav>
        </div>
    </header>
    <h1>Thông tin liên hệ của 3 bạn sinh viên</h1>
    <table>
        <tr>
            <th>Họ và tên</th>
            <th>Mã số sinh viên</th>
            <th>Số điện thoại</th>
        </tr>
        <tr>
            <td>Trần Xuân Thành</td>
            <td>22DH114735</td>
            <td>0912345678</td>
        </tr>
        <tr>
            <td>Trịnh Gia Bảo</td>
            <td>987654321</td>
            <td>0923456789</td>
        </tr>
        <tr>
            <td>Châu Hoàng Khôi</td>
            <td>876543219</td>
            <td>0934567890</td>
        </tr>
    </table>
    <div class="footer">
        <p>Copyright &copy; 2023 EcoFundMe Environment</p>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
