<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />

    <title>EcoFundMe Environment</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz9K68v6QIu6qOp" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/stylelogin.css">
    @RenderSection("Scripts", false)

</head>
    <body>
    <div class="loginBox">
        <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
        <h3>Sign in here</h3>
        <form method="post">
            <div class="inputBox">
                <input id="uname" type="text" name="Username" placeholder="Username">
                <input id="pass" type="password" name="Password" placeholder="Password">
            </div> <input type="submit" name="" value="Login">
        </form>
        <a href="#">Forget Password<br> </a>
        <div class="text-center">
            <p style="color: rgba(0, 255, 0, .2);">Sign-Up</p>
        </div>

    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
