<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <title>EcoFundMe Environment</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz9K68v6QIu6qOp" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/style3.css">

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <header>
                    <div class="container">
                        <a href="#">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/GoFundMe_Logo.svg/1200px-GoFundMe_Logo.svg.png" alt="GoFundMe">
                        </a>
                        <nav>
                            <a href="Test">Trang chủ</a>
                            <a href="#">Tạo chiến dịch</a>
                            <a href="#">Hỗ trợ</a>
                        </nav>
                    </div>
                </header>
                <p>EcoFundMe là một nền tảng cho phép bạn tạo và hỗ trợ các dự án nhằm giải quyết các vấn đề về môi trường. Cho dù bạn là một cá nhân, một cộng đồng hay một công ty, bạn đều có thể sử dụng EcoFundMe để gây quỹ và nâng cao nhận thức cho mục tiêu của mình. Bạn cũng có thể duyệt và quyên góp cho các dự án khác chia sẻ tầm nhìn của bạn về một thế giới xanh hơn và sạch hơn.</p>
                <p>Dưới đây là một số người đang làm việc tại EcoFundMe:</p>
                <ul>
                    <li>Trần Xuân Thành, lên ý tưởng và chỉ đạo chính.</li>
                    <li>Trịnh Gia Bảo, Hỗ trợ viết khung sườn và giao diện trang web.</li>
                    <li>Châu Hoàng Khôi, Hỗ trợ viết javascript và tìm dịch các thông tin, hình ảnh của web.</li>
                </ul>
                <p>Mục tiêu của EcoFundMe là tạo ra một cộng đồng gồm những người có ý thức về sinh thái, những người có thể hợp tác và đóng góp cho các dự án môi trường. Chúng tôi muốn tạo điều kiện dễ dàng và thú vị cho mọi người khi tham gia vào việc tạo ra tác động tích cực cho hành tinh. Chúng tôi cũng muốn thể hiện sự sáng tạo và đổi mới của những người sáng tạo và ủng hộ dự án của chúng tôi.</p>
                <p>Nếu bạn muốn tham gia hoặc tạo một dự án trên EcoFundMe, vui lòng đăng ký hoặc đăng nhập để bắt đầu. Bạn cũng có thể liên hệ với chúng tôi nếu bạn có bất kỳ câu hỏi hoặc phản hồi nào. Cảm ơn bạn đã ghé thăm EcoFundMe!</p>
                <p>@RenderBody()</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>Copyright &copy; 2023 EcoFundMe Environment</p>
    </div>
</body>
</html>