@model project.Models.AdminUser
@{
    ViewBag.Title = "LoginUser";
    Layout = "";
}
<link rel="stylesheet" href="~/Content/stylelogin.css">
<style>
    .field-validation-error {
        color: red;
    }
</style>
@using (Html.BeginForm("LoginAccount", "LoginUser"))
{
    <div class="loginBox">
        <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
        <h3>Sign in here</h3>
        <form method="post">
            <div class="inputBox">
                @Html.TextBoxFor(model => model.NameUser, new { style = "field-validation-error" })
                @Html.EditorFor(model => model.PasswordUser)
            </div> 
            <input type="submit" name="" value="Login">
        </form>
        <div class="text-center">
            <p style="color: rgba(0, 255, 0, .2);">Sign-Up</p>
        </div>

    </div>
}

