@model project.Models.AdminUser
@{
    ViewBag.Title = "RegisterUser";
    Layout = "";
}
<style>
    .field-validation-error {
        color: red;
    }
</style>
<link rel="stylesheet" href="~/Content/stylelogin.css">
@using (Html.BeginForm("RegisterUser", "LoginUser", FormMethod.Post, new { enctype = "muitipart/form-data" }))
{
    <div class="loginBox">
        <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
        <h3>Register here</h3>
        <form method="post">
            <div class="inputBox">
                <p>ID</p>
                <p>@Html.EditorFor(model => model.ID)</p>
                <p>Name</p>
                <p>@Html.EditorFor(model => model.NameUser)</p>
                <p>Password</p>
                <p>@Html.PasswordFor(model => model.PasswordUser)</p>
                <p>Confirm Password</p>
                <p>@Html.PasswordFor(model => model.ConfirmPass)</p>
            </div> <input type="submit" name="" value="Register">
        </form>
        <a href="#">Forget Password<br> </a>
        <div class="text-center">
            <p style="color: rgba(0, 255, 0, .2);">Sign-In</p>
        </div>

    </div>
}