@model project.Models.Product
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div style="margin: 10px auto; width: 70%;">
    <h2 style="text-align: center">CHI TIẾT SỰ KIỆN</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <img style="width: 100%;" src="~/Images/@Model.ImagePro">
        </div>
        <div class="col-md-6">
            <h4>Tên sự kiện quyên góp: @Model.NamePro</h4>
            <p style="text-align: justify">
                <span style="font-weight: bold">Mô tả:</span> @Model.DecriptionPro
            </p>
            <p class="price">
                Số tiền đang cần được hỗ trợ: <span style="color:red; font-size:24px;"> @Model.Price VNĐ
            </span>
        </p>
        <a class="btn btn-primary" href="@Url.Action("AddToCart", "Cart", new { id = Model.ProductID })">
            Quyên Góp
        </a>
    </div>
</div>
</div>