
@{
    ViewBag.Title = "find";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    ...
</head>
<body>
    <main>
        <div class="tcc">

            <div class="find">
                Researcher
            </div>
            <div class="menu">
                Menu
            </div>
            <div class="logo1">
                EcoFundMe
            </div>
            <div class="imglogo">
                <img src="~/Content/img/Screenshot 2023-10-03 001521.png" width="60" height="50">
            </div>

            <div class="logo2">
                Environment
            </div>

            <div class="sign">
                <a href="TestLogin">Sign-in</a>
            </div>
            <div class="start">
                Create
            </div>
        </div>

    </main>
    <main>
    <div class="td">
        <h1>Search on EcoFundMe</h1>
        <h2>Find environmental issues you care about</h2>
        <div>
            <form action="" id="searchbox">
                <input type="text" id="searchtext" />
                <button id="searchbtn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
    </div>
    </main>
</body>

