@{
    ViewBag.Title = "home";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<head>
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <title>Trang web bảo vệ môi trường</title>
    <meta name="description" content="This is a web page with a background image.">
    <meta name="keywords" content="web page, background image">

</head>

<body>
    <header>
    </header>
    <main>
        <div class="main"
             style="background-image: url('https://moitruonghopnhat.com/upload/default/images/tin-tuc/tranh-ve-de-tai-bao-ve-moi-truong-1.jpg'); background-size: cover;position: relative; margin: 0; padding: 0; height: 800px; width:100%">
            <div class="tcc">


                <div class="menu">
                    <a href="~/Views/Product/Index.cshtml"> Campaign </a>
                </div>
                <div class="logo1">
                    EcoFundMe
                </div>
                <div class="imglogo">
                    <img src="~/Content/img/Screenshot 2023-10-03 001521.png" width="60" height="50">
                </div>

                <div class="logo2">
                    Environment
                </div>

                <div class="sign">
                    <a href="~/Views/Login/loginuser.cshtml">Sign in</a>
                </div>

            </div>
            <div class="nd">
                Your home for help
            </div>
            <div class="create">
                Create
            </div>
        </div>
        <div class="td">
            <h1>What to expect</h1>
        </div>
        <div class="imgbody">
            <img src="~/Content/img/Screenshot 2023-10-30 225013.png" margin-left="20px">

        </div>
    </main>
</body>
<footer class="footer">
    <div class="container1">
        <div class="row">
            <div class="footer-col">
                <h4>Learn more </h4>
                <ul>
                    <li><a href="#">EcoFund hoat dong nhu the nao</a></li>
                    <li><a href="#">Cau hoi thuong gap</a></li>
                    <li><a href="#">Cau chuyen thanh cong</a></li>
                    <li><a href="#">Cac quoc gia duoc ho tro</a></li>
                    <li><a href="#">Gay quy tu thien</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Fundraise for </h4>
                <ul>
                    <li><a href="#">Trung tam tro giup</a></li>
                    <li><a href="#">Trung tam bao chi</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Nghe nghiep</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Follow us </h4>
                <div class="social-links">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
            <div class="footerbottom">
                <div class="grid">
                    <div class="grid__row">
                        <p class="footer__text">2023 -  ©Bản quyền thuộc EcoFundMe (nhóm 3 Phan Thị Ngọc Hân)</p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</footer>